<form
  name="settings"
  class="h-full flex flex-col items-center gap-8 mt-6"
  (submit)="applyChange($event)"
>
  <h1 class="font-bold text-2xl text-gray-600 w-full text-left">Settings</h1>

  <div class="flex flex-row justify-content w-full">
    <label
      htmlFor="duration"
      class="text-left w-full font-bold text-gray-600 text-lg"
    >
      Duration : {{ duration }} {{ duration > 1 ? "mins" : "min" }}
    </label>
    <app-button
      text="Random"
      color="secondary"
      [fullWidth]="false"
    ></app-button>
  </div>

  <input
    id="duration"
    name="duration"
    type="range"
    class="w-full accent-cyan-400"
    [(ngModel)]="duration"
    [min]="1"
    [max]="60"
    [step]="1"
    (change)="durationChange($event)"
  />

  <app-button
    text="Apply"
    color="primary"
    fontSize="lg"
    type="submit"
  ></app-button>
</form>
