<form
  name="settings"
  class="h-full flex flex-col items-center gap-8 mt-6"
  (submit)="applyChange($event)"
>
  <h1 class="font-bold text-2xl text-gray-600 w-full text-left">Settings</h1>

  <div class="flex flex-row justify-content w-full">
    <label
      htmlFor="duration"
      class="text-left w-full font-bold text-gray-600 text-lg"
    >
      Duration : {{ duration }} {{ duration > 1 ? "mins" : "min" }}
    </label>
    <app-button
      text="Random"
      color="secondary"
      [fullWidth]="false"
      (click)="applyRandomDuration($event)"
    ></app-button>
  </div>

  <input
    id="duration"
    name="duration"
    type="range"
    class="w-full accent-cyan-400"
    [(ngModel)]="duration"
    min="1"
    max="60"
    step="1"
    (change)="durationChange($event)"
  />

  <app-button
    text="Apply"
    color="primary"
    fontSize="lg"
    type="submit"
  ></app-button>
</form>
<app-modal *ngIf="loading">
  <svg
    class="animate-spin h-10 w-10 text-gray-600"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
  >
    <circle
      class="opacity-25"
      cx="12"
      cy="12"
      r="10"
      stroke="currentColor"
      stroke-width="4"
    ></circle>
    <path
      class="opacity-75"
      fill="currentColor"
      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
    ></path>
  </svg>
</app-modal>
